/* تنسيق العنوان */
h1 {
  color: #333;
  text-align: center;
}

/* تنسيق حاوية النموذج */
.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}

/* تنسيق الحقول والتسميات */
label {
  display: block;
  margin-bottom: 10px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
}

button {
  background-color: #ff5e3a;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #e64c00;
}

footer {
  background-color: #f5f5f5;
  padding: 20px;
  text-align: center;
}